body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('img/206.jpg'); /* Замените на путь к вашему изображению */
    background-size: cover; /* Заполнение всего экрана */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

/* Полупрозрачный слой поверх фона */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Белый цвет с прозрачностью */
    z-index: -1;
}

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }